@media (max-width: 500px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar ul {
    display: inline-block;
  }
  .navbar li {
    width: 100%;
    margin-bottom: 15px;
  }
  .navbar h1 {
    margin-bottom: 20px;
    padding-top: 30px;
  }

  .showcase {
    font-size: 0.9rem;
    padding-top: 20px;
    font-weight: bold;
  }
  .about {
    display: block;
    text-align: center;
    align-items: center;
  }
  .about .img {
    width: 100%;
  }
  .about img {
    width: 100%;
    padding-top: 20px;
  }
  .service {
    display: block;
  }
  footer {
    display: block;
    text-align: center;
  }
  .flex-items {
    display: block;
    width: 100%;
  }
  .flex-items > div {
    border-bottom: 1px solid #333;
  }
  .btn {
    padding: 10px 20px;
    width: 100%;
  }
}
